<h1>{{message}}</h1>
<p>Welcome to {{title}}</p>

<h3>Confirm Identity</h3>
<form class="" action="/users/signin" method="post">
  <input type="text" name="agentId" value="" placeholder="Agent Code Name">
  <input type="text" name="password" value="" placeholder="Password">
  <input type="submit" name="" value="Submit">
</form>

<h3>First Day on the Job? Apply for clearance here</h3>
<form class="" action="/users/signedup" method="post">
  <input type="text" name="agentName" value="" placeholder="Agent Code Name">
  <input type="text" name="password" value="" placeholder="Password">
  <input type="submit" name="" value="Submit">
</form>
